$primary-color-card1:blue;
$primary-stroke-color-card1:pink;
$primary-background-card1:grey;
$light-color: white;


$primary-color-card2:Red;
$secondary-color-card2:Gold;
$terciary-color-card2:MediumOrchid;
$fourth-color-card2:CornflowerBlue;
$fiveh-color-card2:DeepPink;
$sixh-color-card2:DarkOrange;
$primary-background-card2:"#F87635";
$secondary-background-card2:"#044019";

.square{
			fill:$primary-color-card1;
			stroke:$primary-stroke-color-card1;
		}
.primary-color-card1{
			fill:$primary-color-card1;}
.fill-card1{
	fill:$primary-background-card1
}
.primary-color-card2{fill:$primary-color-card2}
.sixh-color-card2{fill:$sixh-color-card2}
.card-size{
	width: 400px;
	height: 600px;
}